*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hamburger {
  width: max-content;
  height: max-content;
}

.hamburger .card{
  background-color: #f9d4e9;
}

.hamburger .img{
  box-shadow: 12px 10px 30px #000000;
}

.hamburger .ct{
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.hamburger .ctx1{
  font-size: 1.1rem;
  color: #aa14d0;
  font-weight: bold;
}

.hamburger .ctx2{
  font-size: 1.2rem;
  font-weight: bold;
}